
.header {
	width: 1200px;
	height: 550px;
	padding: 31px 60px 10px 60px;
	margin: 0 auto;
}

.ever-logo {
    height: 150px;
    float: right;
  }

.aflac-logo {

    height: 90px;
    float: left;
    margin-top: 3%;
} 
	
.blue-box {
  	background-color: #01a7e5;
	height: 400px;
	margin-top: 150px;
}

.guy{
  	width: 360px;
}

.acc-dates {
	float: right;
	width: 737px;
}

.acc-dates h1 {
	width: 805px;
	right: 95px;
	position: relative;
  	color: #fff;
  	text-align: center;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: 500;
  	font-size: 34px;
  	border-bottom: 2px solid #fff;
}

/*for tabs*/

.tabs {
	position: relative;   
	min-height: 243px; 
	float: right;
	right: 28px;
	width: 805px;
	bottom: 155px;
}

.tab {
	float: left;
}
.tab label {
	background: #01a7e5; 
	padding: 10px; 
	margin-left: -1px; 
	position: relative;
	left: 1px; 
}
.tab [type=radio] {
	display: none;   
}
.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}

.tabz {
	border-radius: 10px 10px 0 0;
}
/*end of tabs*/









