html {
  font-family: "Century Gothic";
  width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
	  margin: 0px;
    background-color: white;
}


/*HEADER************************************************/
.header {
	margin: auto;
    margin-top: 100px;
}
.aflac-logo{
    height: 50px;
    position: absolute;  
}
.ever-logo{
    height: 100px;
    position: relative;
    float: right;
    bottom: 100px;
}

.blue-box {
	height: 100%;
	background-color: #01a7e5;
}
.acc-dates{
    position: absolute;
    bottom: 820px;
    border-bottom: 3px solid #fff;
}

.acc-dates h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}
/*for tabs*/
.tabsHeader {
	position: absolute;   
    top: 187px;
}
.tabHeader {
	float: left;
}
.tabHeader label {
	background: #01a7e5; 
	padding: 10px; 
	margin-left: -1px; 
	position: relative;
	left: 1px; 
}
.tabHeader [type=radio] {display: none;}
.contentHeader {
	position: absolute;
	top: 28px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}
[type=radio]:checked ~ label ~ .content {z-index: 1;}

.tabz {border-radius: 10px 10px 0 0;}
/*end of tabs*/
/*/*Desktop Breakpoints*/
@media screen and (max-width: 579px){
	header{height: 500px;}
	#headerWrapper{
		height: 100%;
	}
	.header {
		width: 100%;
		height: 100%;
		}
	.aflac-logo {top: 45px;}
	.guyDiv {
		width: 50%;
		margin: 0 auto;
	}
	.guy {width: 100%}
	.acc-dates {
		width: 22%;
		margin: 0 auto;
		position: static;}
	.tabsHeader {
		width: 68%;
		top: 357px;
		height: 220px;
		left: 18%;
		}
	}
@media screen and (min-width: 580px)  and (max-width: 700px){
	.header {height: 625px;}
	.aflac-logo{top: 4%;}
	.guyDiv{
		width: 50%;
		margin: 0 auto;
	}
	.guyDiv{
		width: 50%;
		margin: 0 auto;
	}
	.guy {width: 100%;}
	.acc-dates{
	    position: static;
	    margin: 0 auto;
	    width: 40%;
	}
	.tabsHeader {
		position: relative;
		margin: 0 auto;
		top: 5%;
		left: 0;
		height: 48%;
		width: 70%;
		}
	}
@media screen and (min-width: 701px)  and (max-width: 1000px){
	header {
		height: 40%;
		padding: 0 5%;
	}
	#headerWrapper {height: 100%;}
	.header {
		width: 100%;
		height: 100%;
	}
	.aflac-logo {top: 45px;}
	.guyDiv {
		width: 32%;
		position: absolute;
		top: 20%;
	}
	.guy {width: 100%}
	.acc-dates {
		width: 60%;
		left: 33%;
		}
	.tabsHeader {
		width: 60%;
		height: 25%;
		left: 33%;
		}
	}
@media screen and (min-width: 1001px) {
	header {
		height: 55%;
		padding: 0 5%;
	}
	#headerWrapper {height: 100%;}
	.header {
		width: 80%;
		height: 100%;
	}
	.aflac-logo {top: 45px;}
	.guyDiv {
		width: 32%;
		position: relative;
		top: 20%;
	}
	.guy {width: 100%}
	.acc-dates {
		width: 42%;
		left: 40%;
		}
	.tabsHeader {
		width: 42%;
		height: 41%;
		left: 40%;
		}
	}*/

/*END OF HEADER *******************************/



/*BODY *****************************************/


/* ----------------Career Section ----------- */

.service-text {
	padding: 20px 40px;
	background-color: white;
	margin-top:30px;
	}

.service-text p {
	padding-bottom: 0px;
  }

.service-thumb {
	overflow: hidden;
 	position: relative;
}

.service-thumb {
	width: 200px;
	height: 200px;
  	background-image: url("images/service.png");
  	background-size: auto;
}
/* ----------------
.service-thumb .overlay-p {
position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #72b842; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}  ----------- */

.service-item {
  	width: 200px;
  	text-align: center;
}


.service-thumb:hover {
	visibility: visible; 
	opacity: 0.5;
}


.service-container{
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 10%;
  height: 100%;
}

.service-container:before,.service-container:after{
  display:table;content:"";
}

.service-container:after{
  clear:both;
}

@media(min-width:350px){.service-container{width:250px;}}

@media(min-width:580px){.service-container{width:475px;}}

@media(min-width:800px){.service-container{width:700px;}}

@media(min-width:1200px){.service-container{width:915px;}}

.job-column-3,.job-column-1,.job-column-2{
  position:relative;
  padding-right:10px;
  padding-left:10px;
  padding-bottom: 25px;
  width: 200px;
  text-align: center;
}

.job-column-3,.job-column-1,.job-column-2 a{
  color: #0093df;
}
.job-column-3,.job-column-1,.job-column-2 a:hover{
  color: #FF6600;
}

a p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-column-1{float:left}

.job-column-1{width:220px;}

@media(min-width:550px){
.job-column-2{float:left}

.job-column-2{width:220px;}}

@media(min-width:992px){
  .job-column-3{
  float:left
  }

  .job-column-3{
  width:220px;
  }
}

@media only screen and (max-device-width: 750px) and (orientation: landscape){
	.service-thumb {
		width: 200px;
		height: 200px;}

	.service-item {
		width:200px;}

	@media(min-width:900px){.service-container{width:720px;}}

	.job-column-1{width:230px;}

	@media(min-width:450px){.job-column-2{width:230px;}}
	@media(min-width:960px){.job-column-3{width:230px;}}

	.job-column-3,.job-column-1,.job-column-2{
		padding-right:15px;
		padding-left:15px;}
}	

@media only screen and (max-device-width: 450px) and (orientation: portrait){
	.service-thumb {
		width: 300px;
		height: 300px;}

	.service-item {
		width:300px;
		}

	@media(min-width:640px){.service-container{width:700px;}}

	.job-column-1{width:330px;}

	@media(min-width:450px){.job-column-2{width:330px;}}

	.job-column-3,.job-column-1,.job-column-2{
		padding-right:15px;
		padding-left:15px;}
}

@media print{img{page-break-inside:avoid}img{max-width:100%!important}}

*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}









/*END OF BODY **************************************/

/* Footer ******************************************/

footer {
}

.footerContain {
	width: 75%;
	height: 300px;
	margin: auto;
	padding-top: 25px;
	background-color: #0093e0;
}

table {
	width: 100%;
	height: 50%;
	margin: auto;
	/** all of the font styles except font-weight apply except
	to input[...btnsubmit] **/
	font-family: "Century Gothic";
	color: white;
	font-weight: lighter;
	letter-spacing: 1.5px;
	background-color: #0093e0;
	border-collapse: collapse;
}

th {
	font-size: 20px;
}

td {
	text-align: center;
}

td > p {
	font-size: 20px;
}

/* fix spacing between h1 and td after fixing the inputs */

.column1 {
	width: 30%;
}

.column2 {
	width: 50%;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

form {
	padding: 2.5% 0;
}

form > p {
	/** spacing between the input boxes **/
	margin: 7.5px 0 7.5px 0;
}

input {
	width: 60%;
	height: 18px;
	border: 1px solid white;
}

textarea {
	width: 60%;
	height: 100px;
	resize: none;
}

input[name = "btnsubmit"] {
	height: 25px;
	font-family: "Century Gothic";
	font-size: 1em;
	color: white;
	background-color: #79a8e0;
	border: 1px solid white;
}

.column3 {
	width: 20%;
}

.image1, .image2, .image3 {
	width: 65px;
	height: 65px;
	/** spacing between widgets **/
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid white;
}